@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
*{
  font-family: Audiowide;
  src: url(../fonts/Audiowide/Audiowide-Regular.ttf);
  font-weight: 400;
}

body{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  background-color: rgb(219, 219, 213);
  margin: 0 50px 100px 50px;
}

#description{
  font-size: medium;
  padding-bottom: 10px;
  align-self: start;

  
}
#rules{
  align-self: start;

}

li{
  margin: 10px 0;
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap:5%;
}

#menu{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  height: 55vh;
  border-radius: 30px;
}

#canvas{
  background-color: white ;
  border-radius: 30px;
  flex-shrink: 0;
}
#canvas:hover{
  box-shadow: 0 0 30px rgba(107, 104, 104, 0.5); 
}

#footer{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  background: radial-gradient(circle at center,#f8f5f7, 
  rgb(219, 219, 213));
  
  width: 100%;
  height:100px;
  

}

#titleContainer{
  display: flex;
  width: 100%;
  justify-content: center;
}


#circle, #circle2 {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 2px solid black;
  position: relative;
}

#circle:hover, #circle2:hover{
  /* filter: drop-shadow(4px 4px grey); */
  box-shadow: 0 0 30px rgba(107, 104, 104, 0.5); 
}



#innerCircle{
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 2px solid black;
  margin: 8px;
}

#clear, #arrow{
  background-color: transparent;
}

#clear:hover, #arrow:hover,  #eraser:hover{
  /* box-shadow: 0 0 30px rgba(107, 104, 104, 0.5);  */
  filter: drop-shadow(4px 4px grey);

}
